<div class="header">
   <div id="searcher">
      <input id="search-task" type="text" placeholder="Search..." />
      <div class="fas fa-search search-icon"></div>
   </div>
   <p id="page-date"></p>
</div>
<section>
   <div id="list-to-do">
      <h2>Today</h2>
      <li class="tasks-list"></li>
      <div class="motivational-quotes">
         What have for today?
         <div class="arrow-icons">
            <i class="fas fa-chevron-right"></i>
            <i class="fas fa-chevron-right"></i>
         </div>
      </div>
   </div>
</section>